<!-- <ion-header>

  <ion-navbar>
    <ion-title>routes</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>
  <h4>အံ့ဘြယ္ဂုဏ္ေဆာင္ ဇလုံေတာင္သမုိင္း</h4>
  <ion-card>

    <ion-item>
      <ion-avatar item-start>
        <ion-icon name="map"></ion-icon>
      </ion-avatar>
      <h3>ဇလုံေတာင္ တည္ရွိေနရာ</h3>
      <p>Location</p>
    </ion-item>


<ion-slides>
  <ion-slide>
  <img src="assets/imgs/slide/s1.jpg">
  </ion-slide>
  <ion-slide>
  <img src="assets/imgs/slide/s3.jpg">
  </ion-slide>
  <ion-slide>
  <img src="assets/imgs/slide/s4.jpg">
  </ion-slide>
  
</ion-slides>




  
    
  
    <ion-card-content>
      <p>စစ္ကိုင္းတိုင္း ေဒသႀကီး ကသာခ႐ိုင္ ဗန္းေမာက္ၿမိဳ႕နယ္တြင္ တည္ရွိၿပီး 
ဗန္းေမာက္ၿမိဳ႕မွ ေျမာက္ဘက္ ၁၂ မိုင္ခန္႔ အကြာ ေတာအတြင္း 
ပင္လယ္ေရ မ်က္ႏွာျပင္အထက္ အျမင့္ေပ ၃ဝ၉ဝ ျမင့္ေသာ ေတာင္ေပၚတြင္ 
တည္ရွိပါတယ္။ ေျမပုံၫႊန္း အက္စ္ဂ်ီ ၄၅၁၃၄၉ ျဖစ္ပါတယ္။ 
</p>

      
    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-item>
      <ion-avatar item-start>
         <ion-icon name="md-albums"></ion-icon>

      </ion-avatar>
      <h3>ဇလုံေတာင္ ဘုရားသမိုင္း</h3>
      <p>History</p>
    </ion-item>

    <ion-slides>
      <ion-slide>
          <img src="assets/imgs/history.jpg">
      </ion-slide>
      <ion-slide>
          <img src="assets/imgs/history1.jpg">
      </ion-slide>
      <ion-slide>
          <img src="assets/imgs/history2.jpg">
      </ion-slide>
    </ion-slides>
    
  
    
  
    <ion-card-content>
      <p>ေဂါတမ ဗုဒၶျမတ္စြာ ဘုရားရွင္သည္ မဟာ သကၠရာဇ္ ၁၂၃ ခုႏွစ္
ဝါေတာ္ ၂ဝ အရတြင္ သိၾကားမင္း ဖန္ဆင္းေသာ နတ္ပန္းရထား
၅ဝဝ ျဖင့္ ရဟႏၲာ အရွင္သူျမတ္ ၅ဝဝ ၿခံရံၿပီး ေကာင္းကင္ခရီးမွ
ဇလံုေတာင္ေတာ္သို႔ ၾကြေတာ္မူခ့ဲပါတယ္။
ဇလံုေတာင္ (ေခၚ) ေဂါေဒါပလႅင္ေတာင္ေတာ္သည္ အေရွ႕ ဧရာဝတီ၊
အေနာက္ သလႅာဝတီျမစ္ ႏွစ္လီတို႔၏ အလယ္ဗဟိုတြင္ တည္ရွိပါတယ္။
ေဂါေဒါပလႅင္ေတာင္ေတာ္တြင္ ဧရာပတၳနတ္နဂါးမင္း သားအဖတို႔၏
ေတာင္းပန္ ေလွ်ာက္ထားမႈေၾကာင့္ ခုနစ္ရက္ သီတင္းသုံးေတာ္မူလ်က္
နဂါးမင္းသား အဖ လွဴဒါန္းေသာ ဆြမ္းကုိ ဘုဥ္းေပး သုံးေဆာင္ေတာ္မူခဲ့ပါတယ္။
က်န္ရွိေသာဆြမ္း၊ ဆြမ္းဟင္းမ်ား ကုိလည္း စိန္၊ ေရႊ၊ ေငြ၊ ေက်ာက္သံ ပတၱျမား
ရတနာ မ်ားျဖစ္ေစေၾကာင္း ဆုေတာင္း အဓိ႒ာန္ျပဳလ်က္ ေတာင္၏ ဝဲယာ၊
ေရွ႕ေနာက္ စြန္႔ႀကဲ ပက္ဖ်န္းခ့ဲသည္ ဟု သမိုင္းေက်ာက္စာတြင္ ေဖာ္ျပထားပါတယ္။
ထုိေတာင္ေတာ္တြင္ ဗ်ာဒိတ္ေတာ္ေပး ဘုရားပုံေတာ္ႀကီး တစ္ဆူလည္း ဖူးျမင္ႏုိင္ပါတယ္။ ဗ်ာဒိတ္စကား မိန္႔ၾကားေတာ္မူသည္မွာ ''ညီဘြား အာနႏၵာ ေအာင္ေျမ ေခၚေသာ
ဤ ေဂါေဒါပလႅင္ေတာင္ကလပ္၌ ပြင့္ေတာ္မူလတ႕ံၱေသာ 'အရိေမေတၱယ် ဘုရားရွင္' သည္
ငါဘုရားက့ဲသု႔ိ အလွဴခံယူကာ တရားထူးကုိ ေဟာၾကားေတာ္မူလိမ့္မည္'' ဟု
ဗ်ာဒိတ္ေတာ္ထားခဲ့ေလ၏။
ထိုေၾကာင့္ ထိုေဒသ၏ ေျမာက္ဘက္တြင္ ဖားကန္႔ ေက်ာက္စိမ္းတြင္းမ်ား၊
အေနာက္ဘက္၊ ေတာင္ဘက္ႏွင႔္ အေရွ႕ဘက္ တို႔တြင္ ေရႊတြင္းမ်ား
ျဖစ္လာသည္ ဟု ေဒသခံမ်ားက ယုံၾကည္ခ့ဲၾကတယ္။
ထု႔ိျပင္ အရပ္ေလးမ်က္ႏွာလုံး ကြၽန္းေတာႀကီး မ်ားသည္လည္း တန္ဖိုးမျဖတ္
ႏုိင္ေသာ ရတနာမ်ား ျဖစ္သည္။ ဘုရားသမိုင္းတြင္ ၄င္းက်ာက္ေတာင္သည္
ငါးဆူေျမာက္ အရိေမေတၱယ် ဘုရားရွင္ တရားေဟာၾကား မည့္ေနရာ
ျဖစ္ေၾကာင္း ေဖာ္ျပထားပါတယ္။
ေက်ာက္ေတာင္သည္ သံေတာင္ ၄၄၄ ေတာင္ျဖစ္၍ ေပအားျဖင့္ ၆၆၆ေပ ျမင့္သည္။
ဤ ေက်ာက္ေတာင္ကို ဘုရားပြင့္မည့္ သလြန္ေတာင္ေတာ္ ဟု ေခၚခ့ဲၿပီး
ေနာင္တြင္ ေဒသခံမ်ားက ဇလုံေမွာက္ ထားသည္ႏွင႔္ တူ၍ ဇလုံေတာင္ ဟု
ေခၚခ့ဲျခင္း ျဖစ္ေၾကာင္း သိရပါတယ္။
</p>
<ion-item text-wrap>
        
</ion-item>
     
    </ion-card-content>
  </ion-card>




  <ion-card>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/logo.png">
      </ion-avatar>
      <h2>Matainance</h2>
      <p></p>
    </ion-item>

    <ion-slides>
      <ion-slide>
          <img src="assets/imgs/maintain.jpg">
      </ion-slide>
      <ion-slide>
        <img src="assets/imgs/travel1.jpg">
      </ion-slide>
      <ion-slide>
        <img src="assets/imgs/travel2.jpg">
      </ion-slide>
    </ion-slides>
  
    <ion-card-content>
      <p>လြန္ခ႔ဲေသာ ႏွစ္ ၈ဝ ခန္႔က ေျမပုံ ေပၚတြင္လည္း သလြန္ေတာင္ ဟုသာ
ေဖာ္ျပထားသည္ကုိ ေတြ႕ရသည္။ ေက်ာက္ေတာင္ႀကီး ေပၚတြင္ ဘုရားတည္
ခ့ဲသည္မွာ သကၠရာဇ္ ၄၉၂ ခုႏွစ္က ျဖစ္သည့္အတြက္ ႏွစ္ေပါင္း ၉ဝဝ ခန္႔
ၾကာခ့ဲၿပီ ျဖစ္ပါတယ္။
အရွင္ဓမၼဒႆီ အမည္ရွိ အရွင္ အရဟံႏွင့္တပည့္ အရွင္အာစာရ မေထရ္ျမတ္
ႏွစ္ပါးသည္ ေဂါေဒါပလႅင္ ေခၚ ဇလုံေတာင္သု႔ိ ၾကြေရာက္ေတာ္မူခဲ့ၿပီး
ဣစၧာသယ လိုတရ ခ်မ္းသာႀကီး ေအာင္ေတာ္မူ၊ ေအာင္ဆုယူ ေစတီမ်ားကုိ
ဦးစြာပထမ တည္ထား ကုိးကြယ္ခ့ဲၾကပါတယ္။
ထို႕ေနာက္ သကၠရာဇ္ ၁၂၁၁ ခုႏွစ္တြင္ ဝိဇၨာမဟိဒၶိ အရွင္ဟု ေပၚလြင္
ထင္ရွားေသာ ဘုန္းႀကီး ဦးသာေအး အရွင္ျမတ္က ေအာင္ေတာ္မူ၊
ေအာင္ဆုယူ ေစတီမ်ားကုိ ဒုတိယအႀကိမ္ မြမ္းမံ ျပဳျပင္၍ 'ေအာင္ေက်ာ္
ေအးေအာင္ ဇလုံေတာင္' ဟု သာသနာျပဳ ေမာ္ကြန္းတင္ခ့ဲပါတယ္။
သကၠရာဇ္ ၁၂၇၆ ခုႏွစ္တြင္ စက္ေတာကုိးဌာန အဝင္ကန္ရြာ ေက်ာင္းဆရာေတာ္
ႏွင့္တိုက္သူႀကီး ဦးေရႊသီး ၊ ရပ္ေဝးရပ္နီးၿမိဳ႕ရြာ ဒါယကာတို႔က ေၾကးအခ်ိန္ ၂၅ ပိႆာျဖင့္
ေၾကးေခါင္းေလာင္း သြန္းလုပ္ လွဴဒါန္းၿပီး သကၠရာဇ္ ၁၂၉၇ ခုႏွစ္တြင္ ေသာင္သြတ္ၿမိဳ႕
ဝဲတက္ရြာ ဇာတိ အရွင္ကုေဝရက သားေတာ္ေတာင္ ေက်ာက္ပလႅင္၌
ဂႏၶကုဋိတိုက္ ေစတီငါးဆူ တည္ထားကာ ဉာဏ္ေတာ္ ေလးေပရွိ၊ လိုတိုင္းျပည့္
ဗ်ာဒိတ္ေပး ပၪၥေလာဟာ ဗုဒၶ႐ုပ္ပြားေတာ္ သြန္းေလာင္း၍ တတိယအႀကိမ္
ထူးျခားစြာ သာသနာျပဳ ခဲ့ေၾကာင္း သိရွိရပါတယ္။
သကၠရာဇ္ ၁၃၁၁ ခုႏွစ္တြင္ စက္ေတာ ကုန္း႐ိုးႀကီးေက်ာင္း ဆရာေတာ္ႀကီးႏွင့္
အလယ္ရြာ၊ ကန္ရြာ၊ အေနာက္တာ ဆရာေတာ္ႀကီးမ်ား ဦးေဆာင္၍ ရပ္ေဝးရပ္နီး
ၿမိဳ႕ရြာ ဒါယကာတို႔က ေအာင္ဆုယူ ေစတီမ်ား ကုိ မြမ္းမံျပင္ဆင္၍ စတုတၴအႀကိမ္
ေရႊထီးေတာ္ အထြတ္တင္လွဴကာ သာသနာျပဳ ခဲ့ေၾကာင္း သာသနာ ေမာ္ကြန္းတင္
ေက်ာက္စာတြင္ ေဖာ္ျပထားပါတယ္။
ဤေက်ာက္ေတာင္ႀကီးမွာ ခမည္းေတာ္ေတာင္ ႏွင့္ မယ္ေတာ္ေတာင္ ေက်ာက္လုံးႀကီးမ်ား
ႏွစ္လုံးပူးတြဲၿပီး ေဘးအနည္းငယ္ နိမ့္ေသာ ႏွစ္ဖက္တြင္ သားေတာ္ေတာင္၊ သမီးေတာ္
ေတာင္ တြဲေနပါတယ္။
လြန္ခ႔ဲေသာ ႏွစ္ေလးဆယ္ခန္႔က သမီးေတာ္ ေက်ာက္ေတာင္ႀကီး ပ့ဲက်ခဲ့ပါတယ္။
အဆိုပါ ေက်ာက္လံုးႀကီး ပ့ဲက်ေသာ အသံသည္ ဗန္းေမာက္ၿမိဳ႕နယ္ တစ္နယ္လုံး
သိမ့္သိမ့္တုန္ ျမည္ဟည္း ႐ိုက္ခတ္ခ့ဲေၾကာင္း သိရသည္ ေက်ာက္ေတာင္ထိပ္ကုိ
တက္သည့္ အခါတြင္ ေက်ာက္ေတာင္ႀကီး ႏွစ္လုံးၾကားမွ အုတ္ေလွကားျဖင့္
ေကြ႕ပတ္ တက္ရပါတယ္၊။
က်ဥ္းက်ပ္ေနေသာ ေနရာတြင္ ေက်ာက္တံခါးႀကီး လည္းရွိပါတယ္။ အကုသုိလ္မ်ားသူ
မေက်ာ္ႏုိင္၊ မဝင္ႏုိင္ဟု ဆိုၾကပါတယ္။ အမွန္တကယ္ မဝင္ႏိုင္သူကုိလည္း ေတြ႕ခ့ဲရ
ပါတယ္။
ေက်ာက္ေတာင္ႀကီးေပၚရွိ ဘုရားမ်ားကုိ ေတာင္ေျခမွလည္း ထင္ထင္ရွားရွား
ဖူးေျမာ္ရပါတယ္။ ကုတ္ကတ္ တြယ္တက္ရေသာ ေနရာလည္း ရွိပါတယ္။
အေပၚေက်ာက္တုံးႀကီး တစ္ခုႏွင႔္ တစ္ခုၾကား ေက်ာက္ေက်ာမွ တစ္ဆင့္
ကူးသြားရသည္မွာလည္း ႏွစ္ဖက္လုံး နက္႐ႈိင္းေသာ ေခ်ာက္ႀကီးႏွင့္ ျဖစ္၍
အသည္းယားစရာ ျဖစ္ၾကရပါတယ္၊။
အခ်ဳိ႕သူမ်ား မကူးရဲပါ။ ဤ ေက်ာက္ေတာင္ႀကီးတြင္ ဇလုံေတာင္ အရွင္ႀကီး ရွိေၾကာင္း၊
ဤဇလုံေတာင္ ဘုရားဖူးလွ်င္ အရိေမေတၱယ် ဘုရားဖူးရန္ စာရင္းတြင္ ပါဝင္မည္
ျဖစ္ေၾကာင္း အဆိုတစ္ရပ္ ရွိၾကပါတယ္။
''ဇလုံေတာင္အရွင္ စာရင္းမဝင္ရင္ ေမတၱာရွင္န႔ဲ လြဲရမယ္'' ဟုဆိုသည္။
ထို႔ေၾကာင့္ ရပ္ေဝးရပ္နီး ေဒသမ်ားမွ ႏွစ္စဥ္ ဘုရားဖူး လာၾကေၾကာင္း
ေတြ႕ျမင္ရသည္။ အခ်ိဳ႕ဆိုလွ်င္ ႏွစ္ရက္သုံးရက္ လမ္းေလွ်ာက္ လာၾကေၾကာင္း
ေတြ႕ျမင္ရသည္။

</p>

      
    </ion-card-content>
  </ion-card>
</ion-content>
