page-home {
    // .getstart {

    //     background-image: url('assets/imgs/background.jpg');
    //     // background: url('../../img/getstart.png');
    //     background-repeat: no-repeat;
    //     background-size:cover;
    // }
    // ion-content {
    //     background-image: url("assets/imgs/background.jpg");
    // }
}
