<ion-content no-padding>
  <super-tabs selectedTabIndex="0" tabsPlacement="top" scrollTabs=true toolbarBackground="primary" toolbarColor="light" indicatorColor="light"
    badgeColor="primary" (tabSelect)="onTabSelect($event)">
    <super-tab *ngFor="let page of pages" [root]="page.pageName" [title]="page.title" [icon]="page.icon" [id]="page.id"></super-tab>
  </super-tabs>
<ion-content>
