<ion-header>
  <ion-navbar color="primary">
    <ion-title>Booking</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <form [formGroup]="bookingForm" (ngSubmit)="onSubmit(bookingForm)">
    
    <ion-grid no-padding style="margin-bottom: 40px;">
      <ion-row>

        <ion-col offset-1 col-10>
          <ion-item no-padding style="background-color:transparent">
            <ion-label floating>{{"From Date"}}</ion-label>
            <ion-datetime formControlName="start_date" displayFormat="MM/DD/YYYY" [(ngModel)]="startDate" [min]="commingSevenDay" [max]="fromMax" (ngModelChange)="setStartDate()"></ion-datetime>
          </ion-item>
          <span class="errorMsg" *ngIf="bookingForm.controls['start_date'].hasError('required') && bookingForm.controls['start_date'].touched">Field is required !</span>

          <ion-item no-padding style="background-color:transparent">
            <ion-label floating>{{"To Date"}}</ion-label>
            <ion-datetime formControlName="end_date" displayFormat="MM/DD/YYYY" [min]="startDate" [max]="toMax"></ion-datetime>
          </ion-item>
          <span class="errorMsg" *ngIf="bookingForm.controls['end_date'].hasError('required') && bookingForm.controls['end_date'].touched">Field is required !</span>

          <ion-item no-padding style="background-color:transparent;">
            <ion-label floating>{{"Room Type"}}</ion-label>
            <ion-select formControlName="room_type">
              <div *ngFor="let roomType of roomTypes">
                <ion-option [value]="roomType.id">{{roomType.name}}</ion-option>
              </div>
            </ion-select>
          </ion-item>
          <span class="errorMsg" *ngIf="bookingForm.controls['room_type'].hasError('required') && bookingForm.controls['room_type'].touched">Field is required !</span>

          <ion-item no-padding style="background-color:transparent">
            <ion-label floating>{{"Number of Room"}}</ion-label>
            <ion-input formControlName="room_no" type="number"></ion-input>
          </ion-item>
          <span class="errorMsg" *ngIf="bookingForm.controls['room_no'].hasError('required') && bookingForm.controls['room_no'].touched">Field is required !</span>

          <ion-item no-padding style="background-color:transparent">
            <ion-label floating>{{"Number of Adult"}}</ion-label>
            <ion-input formControlName="adult_no" type="number"></ion-input>
          </ion-item>
          <span class="errorMsg" *ngIf="bookingForm.controls['adult_no'].hasError('required') && bookingForm.controls['adult_no'].touched">Field is required !</span>

          <ion-item no-padding style="background-color:transparent">
            <ion-label floating>{{"Number of Children"}}</ion-label>
            <ion-input formControlName="children_no" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-col style="padding-top: 20px;">
        <button ion-button full color="primary" type="submit" [disabled]="!bookingForm.valid">{{"Booking"}}</button>
      </ion-col>
    </ion-grid>
  </form>
</ion-content>
