<ion-header>
  <ion-navbar>
    <ion-title>Go to Back</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<ion-card>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/bmlogo.png">
      </ion-avatar>
      <h2>Room Type 1</h2>
      <p>Standard Room</p>
    </ion-item>
  
    <img src="assets/imgs/hotel/sts.jpg">
  
    <ion-card-content>
      <p>Price-30000 MMK</p>

      </ion-card-content>
  
  </ion-card>

  <ion-card>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/bmlogo.png">
      </ion-avatar>
      <h2>Room Type 1</h2>
      <p>Standard Room</p>
    </ion-item>
  
    <img src="assets/imgs/hotel/std.jpg">
  
    <ion-card-content>
      <p>Price-30000 MMK</p>

      </ion-card-content>
  
  </ion-card>

  <ion-card>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/bmlogo.png">
      </ion-avatar>
      <h2>Room Type 2</h2>
      <p>Superior Room</p>
    </ion-item>
  
    <img src="assets/imgs/hotel/sus.jpg">
  
    <ion-card-content>
      <p>Price-40000 MMK</p>

      </ion-card-content>
  
  </ion-card>

<ion-card>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/bmlogo.png">
      </ion-avatar>
      <h2>OUR SERVICES</h2>
      <p></p>
    </ion-item>
  
    <!-- <img src="assets/imgs/hotel/sus.jpg"> -->
    <ion-slides>
  <ion-slide>
  <img src="assets/imgs/hotel/service/hdinn.jpg">
  </ion-slide>
  <ion-slide>
  <img src="assets/imgs/hotel/service/hbath.jpg">
  </ion-slide>
  <ion-slide>
  <img src="assets/imgs/hotel/service/hrooms.jpg">
  </ion-slide>
  <ion-slide>
  <img src="assets/imgs/hotel/service/htv.jpg">
  </ion-slide>
  <ion-slide>
  <img src="assets/imgs/hotel/service/htoilet.jpg">
  </ion-slide>
</ion-slides>
  
    <ion-card-content>
      <p></p>
      <ion-list>
  <ion-list-header>
    Services
  </ion-list-header>
  <ion-item>- Free Breakfast</ion-item>
  <ion-item>- Free Wifi</ion-item>
  <ion-item>- 24hrs services</ion-item>
</ion-list>

      </ion-card-content>
  
  </ion-card>



</ion-content>
