<div class="modal-header">
  <div class="row">
      <div class="col-12">
          <h4 class="modal-title">{{ "customer information" | translate }}</h4>
      </div>
  </div>
</div>
<div class="modal-body">
  <section id="about">
    <div class="row">
      <div class="col-sm-12">
        <div class="card-header" style="text-align: center">
            <h5 class="primary">{{data.name}}</h5>
        </div>
        <div class="card-body">
            <div class="card-block">
                <div class="col-12">
                  <ul class="no-list-style">
                    <li class="mb-2">
                        <span class="text-bold-500 primary"><a><i class="ft-credit-card"></i> NRC:</a></span>
                        <span class="display-block overflow-hidden">{{data.nrc}}</span>
                    </li>
                    <li class="mb-2">
                        <span class="text-bold-500 primary"><a><i class="ft-user font-small-3"></i> Gender:</a></span>
                        <span class="display-block overflow-hidden">{{data.gender}}</span>
                    </li>
                    <li class="mb-2">
                        <span class="text-bold-500 primary"><a><i class="ft-phone"></i> Phone:</a></span>
                        <span class="display-block overflow-hidden">{{data.phone}}</span>
                    </li>
                    <li class="mb-2">
                      <span class="text-bold-500 primary"><a><i class="ft-mail font-small-3"></i> Email:</a></span>
                      <span class="display-block overflow-hidden">{{data.email}}</span>
                    </li>
                    <li class="mb-2">
                      <span class="text-bold-500 primary"><a><i class="icon-present font-small-3"></i> Birthday:</a></span>
                      <span class="display-block overflow-hidden">{{data.birth_date}}</span>
                    </li>
                    <li class="mb-2">
                      <span class="text-bold-500 primary"><a><i class="ft-globe font-small-3"></i> Lives in:</a></span>
                      <span class="display-block overflow-hidden">{{data.address}}</span>
                    </li>
                  </ul>
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary btn-raised" (click)="close()">Close</button>
</div>