  <!-- <ion-header>

  <ion-navbar>
    <ion-title>Hotel List</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>
  <ion-card>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/bmlogo.png">
      </ion-avatar>
      <h2>BanMauk</h2>
      <p>Hotel</p>
    </ion-item>
  
    <img src="assets/imgs/bmhotel.png">
  
    <ion-card-content>
      <p>Bogyoke Road, Banmauk</p>

      <p><ion-icon name="call"></ion-icon> 09-452227750</p><p><ion-icon name="call"></ion-icon> 09-952227750 </p><p><ion-icon name="call"></ion-icon> 09-77227750</p>
    </ion-card-content>
  
    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small (click)="goBmhotelPage()">
          <ion-icon name="more"></ion-icon>


          <div>Details</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small (click)="goLoginPage()">
          <ion-icon name="reorder"></ion-icon>

          <div>Book now</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>
  
  </ion-card>

  <ion-card>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/gtlogo.png">
      </ion-avatar>
      <h2>Golden Top</h2>
      <p>Guest House</p>
    </ion-item>
  
    <img src="assets/imgs/gt.jpg">
  
    <ion-card-content>
      <ion-card-content>
      <p>ၿမိဳ႕မအ​ေနာက္​ပိုင္​း ၊  ဗိုလ္​ခ်ဳပ္​လမ္​း ၊ ဗန္​း​ေမာက္​ၿမိဳ႕</p>

      <p><ion-icon name="call"></ion-icon> 09-448979193</p><p><ion-icon name="call"></ion-icon> 09-265388600 </p>
    </ion-card-content>
  
      
    </ion-card-content>
  
    
  
  </ion-card>




<ion-card>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/smlogo.png">
      </ion-avatar>
      <h2>Golden Top</h2>
      <p>Guest House</p>
    </ion-item>
  
    <img src="assets/imgs/sm.jpg">
  
    <ion-card-content>
      <ion-card-content>
      <p>ၿမိဳ႕မအ​ေနာက္​ပိုင္​း ၊  ဗိုလ္​ခ်ဳပ္​လမ္​း ၊ ဗန္​း​ေမာက္​ၿမိဳ႕</p>

      <p><ion-icon name="call"></ion-icon> 09-448979193</p><p><ion-icon name="call"></ion-icon> 09-265388600 </p>
    </ion-card-content>
  
      
    </ion-card-content>
  
    
  
  </ion-card>



  <p></p></ion-content>
