<ion-content>
<ion-buttons end>
    <button ion-button icon-only (click)="viewDashboard()">
      <ion-icon name="home"></ion-icon>
    </button>
  </ion-buttons>
  <form [formGroup]="loginForm" novalidate *ngIf="loginForm">
    <ion-grid no-padding>
      <!-- <div class="photo">
        <ion-icon name="person" color="gray"></ion-icon>
      </div> -->
      <ion-row style="background: #ffffff; padding: 40px 0 40px 0; margin: 0 8%;">
        <ion-col col-10 offset-1>
          <h1 text-center>Login</h1>
          <ion-item no-padding>
            <ion-label floating >Username</ion-label>
            <ion-input formControlName="name" type="text"></ion-input>
          </ion-item>
          <ion-item no-padding>
            <ion-label floating>Password</ion-label>
            <ion-input formControlName="password" [type]="pwInputType"></ion-input>
            <button color="primary" ion-button clear item-end (click)="seePassword()" *ngIf="seen"><ion-icon name="eye"></ion-icon></button>
            <button color="primary" ion-button clear item-end (click)="seePassword()" *ngIf="!seen"><ion-icon name="eye-off"></ion-icon></button>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-10 offset-1 style="padding-top: 10%;" no-padding>
          <button ion-button full color="secondary" (click)="doLogin(loginForm)"> Login</button>
        </ion-col>
        <ion-col col-10 offset-1 no-padding>
          <button ion-button clear color="white" full style="text-transform:inherit; font-weight:400; font-size:1.3rem" (click)="forgotPassword()">
            Forgot Password?
          </button>
        </ion-col>
        <ion-col col-10 offset-1 no-padding>
          <button ion-button clear color="primary" full style="text-transform:inherit; font-weight:400; font-size:1.3rem;" (click)="goRegister()">
            New user? Create an account
          </button>
        </ion-col>
        <!-- <ion-col col-10 offset-1 no-padding>
          <button ion-button clear color="white" full style="text-transform:uppercase;">
            OR
          </button>
        </ion-col> -->
        <!-- <ion-col col-10 offset-1 no-padding>
          <button full ion-button icon-start (click)="doFacebookLogin()" color="facebook">
            <ion-icon name="facebook-logo"></ion-icon>
            LOGIN WITH FACEBOOK
          </button>
        </ion-col> -->
        
      </ion-row>
    </ion-grid>
  </form>
</ion-content>