page-login {
    ion-content {
        // background-image: url("assets/imgs/background01.jpg");
    }

    p {
        text-align: center;
        padding-top: 10px;
    }

    .photo{
        width: 100px;
        height: 100px;
        border-radius: 100%;
        font-size: 5em;
        line-height: 100px;
        text-align: center;
        overflow: hidden;
        display: inline-block;
        background-color: map-get($colors, light);
        margin: 5% auto;
    }
}
