<ion-header>
  <ion-navbar color="primary">
    <ion-title>Wave Money Information</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <form [formGroup]="cashForm" (ngSubmit)="onSubmit(cashForm)">

    <ion-grid no-padding style="margin-bottom: 40px;">
      <ion-row>

        <ion-col offset-1 col-10>
          <ion-item no-padding style="background-color:transparent">
            <ion-label floating>{{"Total Amount"}}</ion-label>
            <ion-input formControlName="total_amount" type="number" [(ngModel)]="total" disabled></ion-input>
          </ion-item>

          <ion-item no-padding style="background-color:transparent">
            <ion-label floating>{{"Receiver Phone No"}}</ion-label>
            <ion-input formControlName="receiver_phone" type="number" [(ngModel)]="receiver" disabled></ion-input>
          </ion-item>
            
          <ion-item no-padding style="background-color:transparent">
            <ion-label floating>{{"Phone No"}}</ion-label>
            <ion-input formControlName="phone_no" type="text"></ion-input>
          </ion-item>
          <span class="errorMsg" *ngIf="cashForm.controls['phone_no'].hasError('required') && cashForm.controls['phone_no'].touched">Field is required !</span>

          <ion-item no-padding style="background-color:transparent">
            <ion-label floating>{{"Password"}}</ion-label>
            <ion-input formControlName="password" type="text"></ion-input>
          </ion-item>
          <span class="errorMsg" *ngIf="cashForm.controls.password.touched && !cashForm.controls.password.valid && cashForm.controls.password.value.length > 0">Password with at least 6 length</span>
          <span class="errorMsg" *ngIf="cashForm.controls['password'].hasError('required') && cashForm.controls['password'].touched">Field is required !</span>
        
          <ion-item no-padding style="background-color:transparent">
            <ion-label floating>{{"TRX ID"}}</ion-label>
            <ion-input formControlName="trx_id" type="text"></ion-input>
          </ion-item>
          <span class="errorMsg" *ngIf="cashForm.controls.trx_id.touched && !cashForm.controls.trx_id.valid && cashForm.controls.password.value.length > 0">TRX ID with 9 length</span>
          <span class="errorMsg" *ngIf="cashForm.controls['trx_id'].hasError('required') && cashForm.controls['trx_id'].touched">Field is required !</span>
        </ion-col>
      </ion-row>
      <ion-col style="padding-top: 20px;">
        <button ion-button full color="primary" type="submit" [disabled]="!cashForm.valid">{{"Save"}}</button>
      </ion-col>
    </ion-grid>
  </form>
</ion-content>
