<ion-header>
  <ion-navbar color="primary" hideBackButton>
    <ion-title>
      <span *ngIf="!isEdit">Register</span>
      <span *ngIf="isEdit">Edit Profile</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
    
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
  
      <ion-grid no-padding style="margin-bottom: 40px;">
        <ion-row>
  
          <ion-col offset-1 col-10>
            <ion-item no-padding style="background-color:transparent">
              <ion-label floating>{{"Name"}}</ion-label>
              <ion-input formControlName="name" type="text"></ion-input>
            </ion-item>
            <span class="errorMsg" *ngIf="registerForm.controls['name'].hasError('required') && registerForm.controls['name'].touched">Field is required !</span>

            <ion-item no-padding style="background-color:transparent">
              <ion-label floating>{{"Password"}}</ion-label>
              <ion-input formControlName="password" [type]="pwInputType" type="text" [class.invalid]="!registerForm.controls.password.valid && registerForm.controls.password.dirty"></ion-input>
              <button color="primary" ion-button clear item-end (click)="seePassword()" *ngIf="seen"><ion-icon name="eye"></ion-icon></button>
              <button color="primary" ion-button clear item-end (click)="seePassword()" *ngIf="!seen"><ion-icon name="eye-off"></ion-icon></button>
            </ion-item>
            <span class="errorMsg" *ngIf="registerForm.controls.password.touched && !registerForm.controls.password.valid && registerForm.controls.password.value.length > 0">Password with at least 6 length</span>
            <span class="errorMsg" *ngIf="registerForm.controls['password'].hasError('required') && registerForm.controls['password'].touched">Field is required !</span>

            <ion-item no-padding style="background-color:transparent">
              <ion-label floating>{{"NRC No (eg: 12/ThaLaNa(N)000000)"}}</ion-label>
              <ion-input formControlName="nrc" type="text"></ion-input>
            </ion-item>
            <span class="errorMsg" *ngIf="registerForm.controls.nrc.touched && !registerForm.controls.nrc.valid && registerForm.controls.nrc.value.length > 0">Wrong NRC No</span>
            <span class="errorMsg" *ngIf="registerForm.controls['nrc'].hasError('required') && registerForm.controls['nrc'].touched">Field is required !</span>

            <ion-item no-padding style="background-color:transparent">
              <ion-label floating>{{"Date Of Birth"}}</ion-label>
              <ion-datetime formControlName="birth_date" displayFormat="MM/DD/YYYY" [max]="today"></ion-datetime>
            </ion-item>

            <span class="errorMsg" *ngIf="registerForm.controls['birth_date'].hasError('required') && registerForm.controls['birth_date'].touched">Field is required !</span>

            <ion-item no-padding style="background-color:transparent; margin: 30px 0 0 0;">
              <ion-label>{{"Gender"}}</ion-label>
              <ion-select formControlName="gender">
                <div *ngFor="let g of gender">
                  <ion-option [value]="g">{{g}}</ion-option>
                </div>
              </ion-select>
            </ion-item>
            <span class="errorMsg" *ngIf="registerForm.controls['gender'].hasError('required') && registerForm.controls['gender'].touched">Field is required !</span>
          
            <ion-item no-padding style="background-color:transparent">
              <ion-label floating>{{"Phone"}}</ion-label>
              <ion-input formControlName="phone" type="number"></ion-input>
            </ion-item>
            <span class="errorMsg" *ngIf="registerForm.controls['phone'].hasError('required') && registerForm.controls['phone'].touched">Field is required !</span>

            <ion-item no-padding style="background-color:transparent">
              <ion-label floating>{{"Email (eg: abc@gmail.com)"}}</ion-label>
              <ion-input formControlName="email" type="email" [class.invalid]="!registerForm.controls.email.valid && registerForm.controls.email.dirty"></ion-input>
            </ion-item>
            <span class="errorMsg" *ngIf="registerForm.controls.email.touched && !registerForm.controls.email.valid && registerForm.controls.email.value.length > 0">Invalid Email !</span>
            <span class="errorMsg" *ngIf="registerForm.controls['email'].hasError('required') && registerForm.controls['email'].touched">Field is required !</span>

            <ion-item no-padding style="background-color:transparent">
              <ion-label floating>{{"Address"}}</ion-label>
              <ion-input formControlName="address" type="text"></ion-input>
            </ion-item>
            <span class="errorMsg" *ngIf="registerForm.controls['address'].hasError('required') && registerForm.controls['address'].touched">Field is required !</span>
          </ion-col>
        </ion-row>
        <ion-col style="padding-top: 20px;">
          <button *ngIf="!isEdit; else not;" ion-button full color="primary" type="submit" [disabled]="!registerForm.valid">{{"Register"}}</button>
          <ng-template #not>
            <button ion-button full color="primary" type="submit" [disabled]="!registerForm.valid">{{"Save"}}</button>
          </ng-template>
        </ion-col>
      </ion-grid>
    </form>
  
</ion-content>
