<div class="row">
    <div class="col-12 bottom-30">
        <div widget class="card">
            <div class="card-header">
                <h4 class="card-title">{{ "Cash" | translate }}</h4>
            </div>
            <div class="card-body widget-body">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-9 text-right"></div>
                        <div class="col-md-3 text-right">
                            <div class="form-group">
                                <select class="form-control" id="department" (change)="getPage(1)" [(ngModel)]="pageLimit">
                                    <option *ngFor="let option of pageLimitOptions" value="{{option}}">{{option}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="overflow:auto">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>{{ "action" | translate }}</th>
                                        <th *ngFor="let item of tableHeader">{{item.label | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let record of data | async | paginate : {id:'paginationTable' , itemsPerPage: pageLimit, currentPage: currentPage, totalItems : totalTableData}; let i = index">
                                        <th scope="row">{{ (i+1) + (currentPage-1)*pageLimit }}</th>
                                        <td nowrap>
                                            <div class="floating-btn">
                                                <ar-confirm-booking-button (click)="confirmBooking(record.id)"></ar-confirm-booking-button>
                                                <ar-wrong-button (click)="wrongData(record.id)"></ar-wrong-button>
                                            </div>                                           
                                        </td>
                                        <td *ngFor="let item of tableHeader">
                                            <span *ngIf="item.type == 'string' && record[item.field_name];else noData">
                                                {{record[item.field_name]}}
                                            </span>
                                            <ng-template #noData>-</ng-template>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col col-lg-3 ">
                            <span *ngIf="pageLimit + (currentPage-1) * pageLimit < totalTableData ">Showing {{ 1 + (currentPage-1) * pageLimit}} to {{ pageLimit + (currentPage-1) * pageLimit}}
                                of {{totalTableData}}
                            </span>
                            <span *ngIf="pageLimit + (currentPage-1) * pageLimit>= totalTableData">Showing {{ 1 + (currentPage-1) * pageLimit}} to {{ totalTableData}} of {{totalTableData}} </span>
                        </div>
                        <div class="col col-lg-9 text-right">
                            <pagination-controls (pageChange)="getPage($event)" id="paginationTable"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
