<div class="row">
    <div class="col-12 bottom-30">
        <div widget class="card">
            <div class="card-header">
                <h4 class="card-title">{{ "room check" | translate }}</h4>
            </div>
            <div class="card-body widget-body">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="start_date">{{ "Start Date" | translate }}</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="start_date" ngbDatepicker #d1="ngbDatepicker" id="start_date">
                                <div class="input-group-addon" (click)="d1.toggle()">
                                    <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="end_date">{{ "End Date" | translate }}</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="end_date" ngbDatepicker #d2="ngbDatepicker" id="end_date">
                                <div class="input-group-addon" (click)="d2.toggle()">
                                    <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="room_type">{{ "Room Type" | translate }}</label>
                            <select class="form-control checking-field" placeholder="Select" [(ngModel)]="room_type" name="room_type">
                                <option *ngFor="let type of roomTypes" [ngValue]="type.id" >{{type.name}}</option>                                  
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label for="room_type">{{ "No of Room" | translate }}</label>
                            <input class="form-control" type="number" [(ngModel)]="no_of_room" disabled>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12 text-center">
                        <button class="btn btn-raised btn-danger" (click)="doCancel()">{{"cancel" | translate}}</button>
                        <ar-search-filter-button (click)="getData()"></ar-search-filter-button>
                        <!-- <ar-clear-filter-button (click)="clearFilter()"></ar-clear-filter-button> -->
                        </div>
                    </div>
                    <!-- <div class="row">
                        <button class="btn btn-raised btn-primary" (click)="doSearch()">{{"search" | translate}}</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="isData == true">
    <div class="col-12 bottom-30">
        <div widget class="card">
            <div class="card-header">
                <h4 class="card-title">{{ "room" | translate }}</h4>
            </div>
            <div class="card-body widget-body">
                <div class="card-block">
                    <!-- <div class="row">
                        <div class="col-md-3">
                            <div class="d-inline-block" *ngIf="allow_add">
                                <ar-add-button (click)="doAdd()"></ar-add-button>
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="form-group row">
                                <label class="col-md-3 label-control" for="projectinput1">{{"Sort By" | translate}}</label>
                                <div class="col-md-3">
                                    <select class="form-control" id="department" (change)="getPage(currentPage)" [(ngModel)]="order.by">
                                        <option value=""></option>
                                        <option *ngFor="let item of tableHeader" value="{{item.field_name}}">{{item.label}}</option>
                                    </select>
                                </div>
                                <label class="col-md-3 label-control" for="projectinput1">{{"Sort Dir" | translate}}</label>
                                <div class="col-md-3">
                                    <select class="form-control" id="department" (change)="getPage(currentPage)" [(ngModel)]="order.dir">
                                        <option value=""></option>                          
                                        <option value="asc">{{"ascending" | translate}}</option>
                                        <option value="desc">{{"descending" | translate}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 text-right">
                            <div class="form-group">
                                <select class="form-control" id="department" (change)="getPage(1)" [(ngModel)]="pageLimit">
                                <option *ngFor="let option of pageLimitOptions" value="{{option}}">{{option}}</option>
                                </select>
                            </div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col" style="overflow:auto">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>{{ "Action" | translate }}</th>
                                        <th *ngFor="let item of tableHeader">{{item.label | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let record of data; let i = index">
                                        <th scope="row">{{ i+1 }}</th>
                                        <td nowrap>
                                            <div class="floating-btn">
                                                <ar-select-button (click)="giveRoomToCustomer(record.id)"></ar-select-button>
                                                <!-- <ar-edit-button *ngIf="allow_edit" (click)="doEdit(record.id)"></ar-edit-button>
                                                <ar-delete-button *ngIf="allow_delete" (click)="selectData(record)"></ar-delete-button> -->
                                            </div>
                                        </td>
                                        <td *ngFor="let item of tableHeader">
                                            <span *ngIf="item.type == 'string'">
                                                {{record[item.field_name]}}
                                            </span>
                                            <span *ngIf="item.type == 'date'">
                                                {{record[item.field_name] | arDate}}
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <button class="btn btn-raised btn-raised gradient-indigo-blue white" type="button" (click)="doBack()">
                            <i class="fa fa-arrow-left"></i>{{ "Close" | translate }}
                    </button>
                </div>
            </div>            
        </div>
    </div>
</div>
