page-confirm {
    img {
        width: 40%;
        position: absolute;
        left: 30%;
        top: 120px;
    }
    .refresh_btn {
        width: 50%;
        left: 25%;
        margin-top: 330px;
    }

    ion-row{
        position: relative;
        padding: 0 10px;
        border-bottom: 1px solid map-get($colors, gray);
        ion-label{
            font-weight: bold;
        }
    }

    h2 {
        text-align: center;
        padding: 0 16px 16px;
        color: #32db64;
    }

    p {
        text-align: center;
        color: map-get($colors, wraning);
    }
}
