<ion-header>
  <ion-navbar color="primary">
    <ion-title>Confirm</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="viewDashboard()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <div *ngIf="isWaiting; else not;" style="position: relative;">
    <img src="assets/icon/waiting.gif" />
    <button ion-button color="primary" class="refresh_btn" (click)="refreshBrn($event)">{{"Click to Refresh"}}</button>
  </div>
  <ng-template #not>
    <h2 *ngIf="data.status == 'pending'">Your booking is accepted.  Thanks you for your choice!</h2>
    <h2 *ngIf="isConfirm">Your booking is confirmed. Warmly Welcome!</h2>
    <p *ngIf="!isWave">Please, send cash before 3 days with WaveMoney! If not, booking will be canceled.</p>
    <p *ngIf="isWave && !waveWrong && !isConfirm">Please, wait to confirm booking! Admin check money.</p>
    <p *ngIf="waveWrong" style="color: red;">Total amount is not enough for your booking. Please, resend cash before 3 days!</p>
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <ion-label>Name:</ion-label>
        </ion-col>
        <ion-col col-8>
          <ion-label>{{data.customer_name}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          <ion-label>Start Date:</ion-label>
        </ion-col>
        <ion-col col-8>
          <ion-label>{{data.start_date}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          <ion-label>End Date:</ion-label>
        </ion-col>
        <ion-col col-8>
          <ion-label>{{data.end_date}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          <ion-label>No of Room:</ion-label>
        </ion-col>
        <ion-col col-8>
          <ion-label>{{data.room_no}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          <ion-label>No of Adult:</ion-label>
        </ion-col>
        <ion-col col-8>
          <ion-label>{{data.adult_no}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: none;" *ngIf="data.children_no">
        <ion-col col-4>
          <ion-label>No of Child:</ion-label>
        </ion-col>
        <ion-col col-8>
          <ion-label>{{data.children_no}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row  style="border-bottom: none;">
      <ion-col col-6>
        <button *ngIf="!isConfirm" ion-button color="primary" full (click)="refreshBrn()">{{"Refresh"}}</button>
      </ion-col>
      <ion-col col-6>
        <button *ngIf="!isWave || waveWrong" ion-button color="primary" full (click)="sendMoney()">{{"Fill WaveMoney Info"}}</button>
        <!-- <button *ngIf="isModify" ion-button color="primary" full (click)="editBooking()">{{"Update Data"}}</button> -->
      </ion-col>
      <ion-col col-12>
        <button *ngIf="isConfirm" ion-button color="success" full (click)="doLogout()">{{"Logout"}}</button>
        <!-- <button *ngIf="isModify" ion-button color="primary" full (click)="editBooking()">{{"Update Data"}}</button> -->
      </ion-col>
    </ion-row>
  </ng-template>
  
</ion-content>
